.img {
object-fit: cover;
border-radius: 15px;
transition: 0.5s;
}
.img:hover {
    scale: 1.05;
}
.sliderWrap {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    scrollbar-width: none;
    left:0;
    right:0;
    background-color: white;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: 1s;
    transform: translateX(0px);  
    height: 330px;
    padding-top: 20px;
}
.sliderWrap::-webkit-scrollbar {
    display: none;
}
.slider {
    display: flex;
    margin-left: 100px;
    transition: 1s;
    transform: translateX(0px);  
}
.card {
    width: 300px;
    height: 300px;
    font-size: 18px;
    font-weight: 100;
    margin-right: 40px;
}
.prevBtn {
position: absolute;
margin-top: 140px;
left: 15px;
z-index: 10;
outline: none;
background-color: black;
color: white;
width: 70px;
height: 70px;
border-radius: 35px;
border: 2px solid black; 
display: flex;
justify-content: center;
align-items: center;
transition: 0.5s;
box-shadow: 0px 0px 4px 0px #606060;
}
.prevBtn:hover {
    background-color:white;
    color: black;
    border-color: white;
    scale: 1.1;
}
.prevBtn:hover .left {
    border: solid black;
    border-width: 0 3px 3px 0;
        transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.nextBtn {
position: absolute;
margin-top: 140px;
right: 15px;
z-index: 10;
outline: none;
background-color: black;
color: white;
width: 70px;
height: 70px;
border-radius: 35px;
border: 2px solid black; 
justify-content: center;
align-items: center;
transition: 0.5s;
box-shadow: 0px 0px 4px 0px #606060;
} 
.nextBtn:hover {
    background-color:white;
    color: black;
    border-color: white;
    scale: 1.1;
}
.nextBtn:hover .right {
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin-left: -3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin-right: -3px;
}
.cardText {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    width: fit-content;
}