.ul {
   margin-left: 50px;
   display: flex;
}
.linkwrapLog {
   display: flex;
   flex-direction: column;
}
.submenuLog {
   display: flex;
   width: 520px;
   flex-direction: column;
   position: absolute;
   top: 60px;
   background-color: rgba(255, 255, 255, 0.8);
   padding-bottom: 15px;
   border-radius: 0px 20px 20px 20px;
   display: none;
   padding: 0px 20px 20px 20px;
}

.linkwrapLog:hover .submenuLog {
   display: flex;
}
.linkwrapLog:hover .log {
background-color: rgba(255, 255, 255, 0.8);
border-radius: 20px 20px 0px 0px;
}
.subMenuItem {
   padding-top: 15px;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 500;
}
.subMenuItem:hover {
   opacity: 0.7;
}
.submenuFul {
   display: flex;
   width: 300px;
   flex-direction: column;
   position: absolute;
   top: 60px;
   background-color: rgba(255, 255, 255, 0.8);
   padding-bottom: 15px;
   border-radius: 0px 20px 20px 20px;
   padding: 0px 20px 20px 20px; 
   display: none;
}
.linkwrapFul {
   display: flex;
   flex-direction: column;
}
.linkwrapFul:hover .submenuFul {
   display: flex;
}
.linkwrapFul:hover .ful {
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 20px 20px 0px 0px;
   }
.linkwrapCross:hover .submenuCross {
   display: flex; 
}
.linkwrapCross:hover .cross {
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 20px 20px 0px 0px;
   }

.linkwrapCross{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.submenuCross {
   display: flex;
   align-items: flex-end;
   width: 520px;
   flex-direction: column;
   position: absolute;
   top: 60px;
   background-color: rgba(255, 255, 255, 0.8);
   padding-bottom: 15px;
   border-radius: 20px 0px 20px 20px;
   padding: 0px 20px 20px 20px; 
   display: none;
}
.menuItem {
   font-family: "Inter";
   font-size: 18px;
   font-weight: 500;
   padding: 20px 20px 20px 20px;
}
.log:hover {
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 20px 20px 0px 0px;
}